<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>sushiOstrich</title>
  <script>
    user = '<%= user.username %>';
  </script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.3.min.js">
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
  <div class="navbar"><p id="title">SushiOstrich</p>
    <p id="userName"><%= user.username %></p>
    <a href="/settings"><img id="setIcon" src="/img/settings.png" alt="Account Settings"/></a>
    <a href="/logout"><img id="logoutIcon" src="/img/logout.png" alt="LogOut"></a>
  </div>
  <div class="container">
    <div class="chats">
    </div>
    <div class="sidebar">
      <div class="search">
        <h2>Search</h2>
      </div>
      <div class="friendList">
        <ul class="friendListUl">
        </ul>
      </div>
  </div>
</body>
</html>
