<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>sushiOstrich</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.3.min.js">
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
  <div class="header">
    <h1><%= user.firstName %> <%= user.lastName %></h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>
  <div class="container">
    <div class="chats">
      <h2>Chats</h2>
    </div>
    <div class="sidebar">
      <div class="search">
        <h2>Search</h2>
      </div>
      <div class="friendList">
        <h2>Friends</h2>
      </div>
    </div>
  </div>
</body>
</html>
