<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>sushiOstrich</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/css/indexStylesheet.css">
</head>
<body>
<div class="topbar"><p id="title"><span class="sushi">sushi</span>Ostrich</p></div>
<div class="container">
	<!-- LOGIN FORM -->
	<div class="login">Login
		<form action="/login" method="post">
			<div class="form-group">
				<input type="email" class="form-control" name="email" required placeholder='Email'>
			</div>
			<div class="form-group" id="lastInput">
				<input type="password" class="form-control" name="password" required placeholder='Password'>
			</div>

			<button type="submit" class="btn btn-lg" id='subBut'>Login</button>
		</form>
	</div>

	<!-- SIGNUP FORM -->
	<div class="signup">Signup
			<form action="/signup" method="post">
		<div class="form-group">

			<input type="text" id="firstName" class="form-control" name="firstName" required placeholder="First Name">
		</div>
		<div class="form-group">
			<input type="text" id="lastName" class="form-control" name="lastName" required placeholder="Last Name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="username" required placeholder="Username">
		</div>
		<div class="form-group">
			<input type="email" class="form-control" name="email" required placeholder="Email">
		</div>
		<div class="form-group" id="lastInput">
			<input type="password" class="form-control" name="password" required placeholder="Password">
		</div>

		<button type="submit" id='subBut' class="btn btn-warning btn-lg">Signup</button>
	</form>
</div>
<div class="hook"><span class="sushi">sushi</span>Ostrich says: Eat more sushi but no Ostriches. This has been a PSA</div>
</body>
</html>