body {
	font-family: Arial, sans-serif;
	word-wrap: break-word;
}

.header {
  height : 100px;
}

.container {
  height : 100%;
}

.chats {
  float : left;
  height : 100%;

  padding: 5px 10px;
}

.chatWindow {
  float : right;
  height : 100%;

  margin-top: 30px;
}


/* ==============================================
   ================ NAVBAR =====================
*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;

	height: 30px;
	width: 100%;

	margin: auto;
	padding: 5px 30px 10px 15px;

	background: #DEDEDE;
	font: 17px Arial, sans-serif;
	text-align: right;

	box-shadow: 0px 1px rgba(0,0,0,0.2)
}

#setIcon {
	vertical-align: middle;
	margin: 6px 15px;
}

 #logoutIcon {
 	vertical-align: middle;
 	margin: 2px 40px 0 0;
 }

#userName {
	position: absolute;
	margin-top: 10px;
	right: 170px;
	padding: 0 20px 0 0;
}

#title{
	float: left;
	margin-top: 4px;
	font: 25px Arial, sans-serif;
}

/* ==============================================
   ================ SIDEBAR =====================
*/
.sidebar {
  position: fixed;
  right:0;

  width : 200px;
  height: 100%;

  margin-top: 30px;
}
.friendList {
	padding: 0 24px 0 24px;

	font: Arial, sans-serif;
	background-color: yellow;
}



/* ==============================================
   ================ CHATS =====================
*/

.chats {
	left: 0;
	margin-right: 200px;

	float:right;

}

.chatWindow {
	width: 300px;
	height: 100%;

	margin: 33px 20px 0 0;

}

.chatHeader {
	height: 35px;
	width: 300px;

	text-align: left;
	font-size: 20px;

	background-color: #DEDEDE;
} 

.chatContent {
}