html {
	height: 100%;
}

body{
	position: fixed;
	overflow-y: hidden;

	width: 100%;
	height: 100%;

	font-family: Helvetica, sans-serif;
	word-wrap: break-word;

	color: #787878;
}

.header {
  height : 100px;
}

.container {
  height : 100%;
}

.clickable, .darkClickable {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.clickable:hover {
	background-color: #F5F5F5;
}

.clickable:active {
	background-color: #E6E6E6;
}

.darkClickable:hover {
	background-color: #E6E6E6;
}

.darkClickable:active {
	background-color: #ccc;
}
/* ==============================================
   ================ NAVBAR =======================
*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;

	height: 30px;
	width: 100%;

	margin: auto;
	padding: 5px 30px 10px 15px;

	background: #F5F5F5;

	font: 17px Helvetica, sans-serif;
	text-align: right;


	box-shadow: 0px 1px #ccd0bd;
}

#setIcon {
	margin: 6px 15px;

	vertical-align: middle;
}

 #logoutIcon {
 	margin: 2px 40px 0 0;

 	vertical-align: middle;
 }

#userName {
	position: absolute;
	right: 170px;

	margin-top: 10px;
	padding: 0 20px 0 0;
}

#title{
	margin-top: 4px;

	float: left;
	font: 25px Helvetica, sans-serif;
}

.sushi{
	color: #89D42C;
}

/* ==============================================
   ================ SIDEBAR =====================
*/
.sidebar {
  position: fixed;
  right:0;

  width : 200px;
  height: 100%;

  margin-top: 39px;

  border-left: 1px solid #ccd0bd;

  box-shadow: -1px 0 5px 0 #ccc;
}

.friendList {
	height: 100%;
}

.friendListUl {
	height: 100%;
	overflow-x: hidden;

	padding: 0;
	list-style: none;
	margin: 0;

	font: 15px Helvetica, sans-serif;

	border-bottom: 1px solid #ccc;
}

.friendLi {
	width: 100%;
	height: 40px;

	padding-left: 10px;
	padding-top: 3px;

	border-bottom: 1px solid #ccc;
	border-left: 3px solid #ccc;
	
	display: block;
}

.onlineFriendLi {
	border-left: 3px solid #91E02F ;
}

.search {
	border-bottom: 1px solid #ccc;
}

#searchBar {
	width: 130px;
	height: 30px;

	padding: 6px 0;
	margin: 3px 0;
	font-size: 13px;

	border-width: 0px;
	outline-width: 0px;

	/*To keep the padding within the box*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
}


#searchIcon {
	vertical-align: middle;
}

#searchAdd {
	margin: 4px 10px 0 0;

	float: right;
}

/* ==============================================
   ================ CHATS =======================
*/

.chats {
	height: 100%;
	left: 0;

	margin-right: 210px;
	float:right;

}

.chatWindow {
	width: 300px;
	height: 100%;

	margin: 33px 20px 0 0;

	border: solid 1px #ccd0bd;
  	float : right;

	box-shadow: 0 0 2px 2px #DEDEDE;
}

.chatWindowHidden {
	display: none;
}

/* ================================
   ======== CHATHEADER ============
 Containg name + Close window */

.chatHeader {
	height: 35px;
	width: 300px;

	margin: 0;
	padding-left: 15px;
	padding-top: 8px;

	background-color: #F5F5F5;

	text-align: left;
	font: 18px Helvetica;

	border-left: 3px solid #ccc;
	border-bottom: 1px solid #DBDBDB;

	/*To keep the padding within the box*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
} 
	.onlineChatHeader{
		border-left: 3px solid #91E02F;
	}

	.closeChatWindow {
		height: 20px;
		width: 23px;

		margin-right: 4px;
		padding: 2px;
		float: right;

		color: black;

		font: 15px Helvetica, sans-serif;
		text-align: center;
		text-decoration: none;

		/*To keep the padding within the box*/
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-mox-box-sizing: border-box;
	}

/* ================================
   ========= CHAT CONTENT ========= */


/* All Messages are here */
.chatContentWrapper {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;

	padding-left: 15px;	
	padding-right: 15px;

	color: black;

	vertical-align: bottom;

	/*To keep the padding within the box*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
}

.selectedChatWindow {
	box-shadow: 0 0 3px 3px #ccc;

}

	.chatContent {
		padding-top: 5px;
	}
	
	.chatMessage{
	}

	.yesName {
		margin-top: 15px;
	}

		.chatMessageSender {
			margin-left: 0;

			font: bold 14px Helvetica, sans-serif;
			float: left;
		}

		.chatMessageTime {
			float: right;

			color: grey;
			font: 10px sans-serif, sans-serif;
		}

		.chatMessageContent {
			margin-top: 2px;
			font-size: 13px;
			clear: both;
			white-space: pre-wrap;
		}

/* ==============================================
   ================ CHAT BUTTONS ================
*/

.chatButtonsDiv {
	border-top: 1px solid #ccc;
	padding: 3px 0;
}

.chatButton {
	padding: 5px 13px;
	font-size: 13px;
}

.chatLatexButton {
	border-right: 1px solid #ccc;;
	padding-left: 12px;
}

.chatCodeButton {
	border-right: 1px solid #ccc;;
}

.chatPrevButton {
	border-right: 1px solid #ccc;;
}

/* ==============================================
   ============== MINIMIZED CHATS ===============
*/

.minimized {
	position: fixed;
	bottom: 0px;
	left: 20px;
}

.minimizedToggle {
	width: 10px;
	background: white;
	z-index: 2;
	border: 1px solid #ccc;
	padding: 5px 10px;
}



/*
.minimizedToggleOn {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.minimizedToggleOff {
	padding: 5px 10px;
	border: 1px solid #ccc;
}
*/
.minimizedWindowList {

	/*float:left;*/
	width: 170px;

	font-size: 13px;

	/*vertical-align: bottom;/
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;

	/*margin: auto 10px 5px 20px;*/
	/*padding-left: 10px;*/


	/*display: block;*/
	border: 1px solid #ccc;
	position: absolute;
	bottom: 29px;
	background: white;
	z-index: 1;
}

.minimizedWindowDiv .closeChatWindow {
	float: left;
	margin: 0;

	height: 25px;
	width: 20px;
	padding-top: 5px;

	font-size: 12px;
}

.minimizedWindow {
	text-align: left;
	width: 140px;
	float: left;
	margin: 0;
	padding: 5px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
}

/* ==============================================
   ================ INPUT =======================
*/

.chatInputDiv {
	position: relative;
	bottom: 0;

	padding: 5px 5px 0 5px;

	outline-width: 0;
	border-top: 1px solid #DEDEDE;
	box-shadow: 0 -2px 5px -2px #DBDBDB;
}

.selectedChatWindow .chatInputDiv {
	background-color: #F5FFF2;
}

.chatInput {
	outline-width: 0px;
	resize : none;
	border: none;

	font: 13px Helvetica, sans-serif;	
	background-color: transparent;
}

/* ==============================================
   ============ GROUPCHAT MAKER =================
*/

.toggleAddButton {
	height: 20px;
	width: 23px;

	margin-right: 4px;
	padding: 2px;
	float: right;

	color: black;

	font: 15px Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;

	/*To keep the padding within the box*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
}

.chatAddToGroup {
	position: absolute;
	background-color: white;
	width: 300px;
	display: none;
	border-bottom: 1px solid #ccc;
}

.chatAddPlaceholder {
	position: absolute;
	color: #ccc;
	top: 5px;
	left: 8px;
	font-size: 15px;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.bootstrap-tagsinput {
	width: 245px;
	border-radius: 0;
	border-width: 0 1px 0 0;
	margin: 0;
}

.bootstrap-tagsinput .tag {
	color: #787878;
}

.twitter-typeahead {
	font-size: 14px;
}

.tt-dropdown-menu {
	background-color: white;
	width: 300px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.tt-dropdown-menu:hover {
	background-color: #F5F5F5;
}

.tt-dropdown-menu:active {
	background-color: #E6E6E6;
}

.addToGroupButton {
	padding: 5px 7px 6px 8px;
	float: right;
}